.app-page {
  text-align: center;
  background-color: rgb(252, 252, 255);
  min-height: 100vh;
}
.wrap{
  display: flex;
justify-content: center;
align-items:center;
padding-top: 20px;
padding-bottom:20px;
}
.header-card{
background-color:#FFF9EC;
text-align: center;
width:500px;
border-radius:5px;
padding:20px;
box-shadow:
  0 2.8px 2.2px rgba(0, 0, 0, 0.051),
  0 6.7px 5.3px rgba(0, 0, 0, 0.073),
  0 12.5px 10px rgba(0, 0, 0, 0.09),
  0 22.3px 17.9px rgba(0, 0, 0, 0.107),
  0 41.8px 33.4px rgba(0, 0, 0, 0.129),
  0 100px 80px rgba(0, 0, 0, 0.18)
;
}
.menu a { /* controls how the links look */
text-decoration: none;
display: block;
color: white;
}

.menu li{ /* for organizing the links */
  font-size: 1.0;
  height: 40px;
  border-bottom: 1px solid #d0d0d0;
  line-height: 40px;
  font-family:sans-serif;
 
}

.menu ul {
  background-color:#33322E; /* makes background of links same color as webpage */
  margin:0;
}

ul {
  list-style-type:none;
  padding:0;
}
